body,
html {
  background-image: url(./netflix_2.jpg);
  margin: 0;
  padding: 0;
  color: #ffffff;
}

#container {
   
}

#title {
  text-align: center;

  
  }

#title span.span-1 {
    color: #ffffff;
  }

#title span.span-2 {
    color: red;
  }
p {
    text-align: center;
    color: red;
    padding: 0px;
}

form {
    background-color: black;
}
